# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Loading the csv file exported in WeatherPy file into a dataframe 
cities_df=pd.read_csv("output_data/cities.csv")
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,Semey,40,KZ,1583977798,92,50.41,80.23,6.80,6.71
1,Rikitea,4,PF,1583977800,76,-23.12,-134.97,77.65,12.12
2,Bethel,90,US,1583977802,28,41.37,-73.41,50.00,4.70
3,Busselton,82,AU,1583977804,35,-33.65,115.33,77.00,11.54
4,Atuona,4,PF,1583977806,75,-9.80,-139.03,82.27,11.63

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configuring gmaps, setting the locations and weights
gmaps.configure(api_key=g_key)
locations = cities_df[["Lat", "Long"]]
humidity = cities_df["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Extracting data wit respect to required weather conditions and storing in a dataframe and dropping any rows with null values
ideal_weather_df=cities_df.loc[(cities_df["Cloudiness"]==0)&(cities_df["Max Temp"]<=70)&(cities_df["Max Temp"]<80)&(cities_df["Wind Speed"]<10),:]
ideal_weather_df=ideal_weather_df.dropna()
ideal_weather_df.head()
#len(ideal_weather_df)

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
19,Gijang,0,KR,1583977835,31,35.24,129.21,46.40,3.36
36,Diego de Almagro,0,CL,1583977882,56,-26.37,-70.05,59.59,0.92
39,Nanortalik,0,GL,1583977888,72,60.14,-45.24,25.66,5.19
46,Qaanaaq,0,GL,1583977908,43,77.48,-69.36,-21.42,6.71
66,DerzhavÄ«nsk,0,KZ,1583977960,77,51.10,66.32,19.80,5.21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Creating hotel_df to store results corresponding to Hotel name extracted via Google Places API call
hotel_df=ideal_weather_df.copy()
hotel_df["Hotel Name"]=""
hotel_df=hotel_df.reset_index(drop=True)
hotel_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
0,Gijang,0,KR,1583977835,31,35.24,129.21,46.40,3.36,
1,Diego de Almagro,0,CL,1583977882,56,-26.37,-70.05,59.59,0.92,
2,Nanortalik,0,GL,1583977888,72,60.14,-45.24,25.66,5.19,
3,Qaanaaq,0,GL,1583977908,43,77.48,-69.36,-21.42,6.71,
4,DerzhavÄ«nsk,0,KZ,1583977960,77,51.10,66.32,19.80,5.21,

In [7]:
len(hotel_df)

31

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "type": "lodging",
    "keyword":"hotel",
    "key": g_key,
}

for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Long"]
    
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    #Requesting the response via API call and storing the response in json format and extracting the hotel name
    response=requests.get(base_url,params)
    hotel_data=response.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    except:
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [9]:

hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
0,Gijang,0,KR,1583977835,31,35.24,129.21,46.40,3.36,Hilton Busan
1,Diego de Almagro,0,CL,1583977882,56,-26.37,-70.05,59.59,0.92,hotel luna del desierto
2,Nanortalik,0,GL,1583977888,72,60.14,-45.24,25.66,5.19,Hotel Kap Farvel
3,Qaanaaq,0,GL,1583977908,43,77.48,-69.36,-21.42,6.71,Qaanaaq Hotel
4,DerzhavÄ«nsk,0,KZ,1583977960,77,51.10,66.32,19.80,5.21,Gostinitsa Galaktika
5,Viedma,0,AR,1583977857,54,-40.81,-63.00,66.81,5.66,Hotel Austral Viedma
6,Narsaq,0,GL,1583977984,59,60.92,-46.05,11.05,7.14,Hotel Narsaq
7,Chokurdakh,0,RU,1583978040,89,70.63,147.92,-20.47,2.66,
8,KhÄsh,0,IR,1583978049,31,28.22,61.22,44.28,1.59,
9,General Roca,0,AR,1583978206,46,-39.03,-67.58,69.80,2.24,Estepa Hotel
10,Mabaruma,0,GY,1583978228,97,8.20,-59.78,69.60,2.33,
11,Sal Rei,0,CV,1583978297,77,16.18,-22.92,69.80,6.93,Ouril Hotel Agueda
12,ShingÅ«,0,JP,1583978372,43,33.73,135.98,51.80,9.17,Gran Hotel
13,Vallenar,0,CL,1583978424,88,-28.57,-70.76,55.69,1.52,Hotel Origenes
14,Terrasini,0,IT,1583978511,87,38.15,13.08,55.00,1.79,Magaggiari Hotel Resort
15,Abu Dhabi,0,AE,1583978267,82,24.47,54.37,69.01,2.24,Sheraton Abu Dhabi Hotel & Resort
16,Ayagoz,0,KZ,1583978554,66,47.97,80.44,12.20,4.23,Ayagoz
17,Birjand,0,IR,1583978596,42,32.87,59.22,26.60,4.34,ITTIC Birjand Tourist Hotel
18,Batagay-Alyta,0,RU,1583978641,77,67.80,130.41,-14.91,6.33,
19,Xichang,0,CN,1583978716,49,27.90,102.26,48.58,7.87,Lushan Hotel
20,BÄ«jÄr,0,IR,1583978768,57,35.87,47.61,37.62,4.21,Hotel Bame Iran
21,Sisimiut,0,GL,1583978824,90,66.94,-53.67,-6.77,5.44,Hotel Sisimiut
22,ÃrÃ¼mqi,0,CN,1583978900,86,43.80,87.60,26.60,2.24,JinJiang International Hotel Urumqi
23,Deputatsky,0,RU,1583978913,86,69.30,139.90,-18.13,3.15,
24,Sarkand,0,KZ,1583978967,58,45.41,79.92,27.18,1.19,ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° Ð¡Ð°ÑÐºÐ°Ð½Ð´
25,Tabas,0,IR,1583978976,21,33.60,56.92,47.88,1.28,Amir hotel
26,Dajal,0,PK,1583978980,73,29.56,70.38,58.46,8.34,
27,Comodoro Rivadavia,0,AR,1583979044,35,-45.87,-67.50,69.80,9.17,Lucania Palazzo Hotel
28,Beloha,0,MG,1583979060,82,-25.17,45.05,69.96,6.89,
29,Atar,0,MR,1583979082,8,20.52,-13.05,66.90,6.46,Odar kanawal
30,Kholtoson,0,RU,1583979108,57,50.30,103.31,11.93,3.09,

In [10]:
#Replacing empty cells by Nan values and dropping them later 
hotel_df_copy=hotel_df.copy()
hotel_df_copy["Hotel Name"].replace("",np.nan,inplace=True)
hotel_df_copy

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
0,Gijang,0,KR,1583977835,31,35.24,129.21,46.40,3.36,Hilton Busan
1,Diego de Almagro,0,CL,1583977882,56,-26.37,-70.05,59.59,0.92,hotel luna del desierto
2,Nanortalik,0,GL,1583977888,72,60.14,-45.24,25.66,5.19,Hotel Kap Farvel
3,Qaanaaq,0,GL,1583977908,43,77.48,-69.36,-21.42,6.71,Qaanaaq Hotel
4,DerzhavÄ«nsk,0,KZ,1583977960,77,51.10,66.32,19.80,5.21,Gostinitsa Galaktika
5,Viedma,0,AR,1583977857,54,-40.81,-63.00,66.81,5.66,Hotel Austral Viedma
6,Narsaq,0,GL,1583977984,59,60.92,-46.05,11.05,7.14,Hotel Narsaq
7,Chokurdakh,0,RU,1583978040,89,70.63,147.92,-20.47,2.66,NaN
8,KhÄsh,0,IR,1583978049,31,28.22,61.22,44.28,1.59,NaN
9,General Roca,0,AR,1583978206,46,-39.03,-67.58,69.80,2.24,Estepa Hotel
10,Mabaruma,0,GY,1583978228,97,8.20,-59.78,69.60,2.33,NaN
11,Sal Rei,0,CV,1583978297,77,16.18,-22.92,69.80,6.93,Ouril Hotel Agueda
12,ShingÅ«,0,JP,1583978372,43,33.73,135.98,51.80,9.17,Gran Hotel
13,Vallenar,0,CL,1583978424,88,-28.57,-70.76,55.69,1.52,Hotel Origenes
14,Terrasini,0,IT,1583978511,87,38.15,13.08,55.00,1.79,Magaggiari Hotel Resort
15,Abu Dhabi,0,AE,1583978267,82,24.47,54.37,69.01,2.24,Sheraton Abu Dhabi Hotel & Resort
16,Ayagoz,0,KZ,1583978554,66,47.97,80.44,12.20,4.23,Ayagoz
17,Birjand,0,IR,1583978596,42,32.87,59.22,26.60,4.34,ITTIC Birjand Tourist Hotel
18,Batagay-Alyta,0,RU,1583978641,77,67.80,130.41,-14.91,6.33,NaN
19,Xichang,0,CN,1583978716,49,27.90,102.26,48.58,7.87,Lushan Hotel
20,BÄ«jÄr,0,IR,1583978768,57,35.87,47.61,37.62,4.21,Hotel Bame Iran
21,Sisimiut,0,GL,1583978824,90,66.94,-53.67,-6.77,5.44,Hotel Sisimiut
22,ÃrÃ¼mqi,0,CN,1583978900,86,43.80,87.60,26.60,2.24,JinJiang International Hotel Urumqi
23,Deputatsky,0,RU,1583978913,86,69.30,139.90,-18.13,3.15,NaN
24,Sarkand,0,KZ,1583978967,58,45.41,79.92,27.18,1.19,ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° Ð¡Ð°ÑÐºÐ°Ð½Ð´
25,Tabas,0,IR,1583978976,21,33.60,56.92,47.88,1.28,Amir hotel
26,Dajal,0,PK,1583978980,73,29.56,70.38,58.46,8.34,NaN
27,Comodoro Rivadavia,0,AR,1583979044,35,-45.87,-67.50,69.80,9.17,Lucania Palazzo Hotel
28,Beloha,0,MG,1583979060,82,-25.17,45.05,69.96,6.89,NaN
29,Atar,0,MR,1583979082,8,20.52,-13.05,66.90,6.46,Odar kanawal
30,Kholtoson,0,RU,1583979108,57,50.30,103.31,11.93,3.09,NaN

In [11]:
narrowed_city_df=hotel_df_copy.dropna()
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
0,Gijang,0,KR,1583977835,31,35.24,129.21,46.40,3.36,Hilton Busan
1,Diego de Almagro,0,CL,1583977882,56,-26.37,-70.05,59.59,0.92,hotel luna del desierto
2,Nanortalik,0,GL,1583977888,72,60.14,-45.24,25.66,5.19,Hotel Kap Farvel
3,Qaanaaq,0,GL,1583977908,43,77.48,-69.36,-21.42,6.71,Qaanaaq Hotel
4,DerzhavÄ«nsk,0,KZ,1583977960,77,51.10,66.32,19.80,5.21,Gostinitsa Galaktika
5,Viedma,0,AR,1583977857,54,-40.81,-63.00,66.81,5.66,Hotel Austral Viedma
6,Narsaq,0,GL,1583977984,59,60.92,-46.05,11.05,7.14,Hotel Narsaq
9,General Roca,0,AR,1583978206,46,-39.03,-67.58,69.80,2.24,Estepa Hotel
11,Sal Rei,0,CV,1583978297,77,16.18,-22.92,69.80,6.93,Ouril Hotel Agueda
12,ShingÅ«,0,JP,1583978372,43,33.73,135.98,51.80,9.17,Gran Hotel
13,Vallenar,0,CL,1583978424,88,-28.57,-70.76,55.69,1.52,Hotel Origenes
14,Terrasini,0,IT,1583978511,87,38.15,13.08,55.00,1.79,Magaggiari Hotel Resort
15,Abu Dhabi,0,AE,1583978267,82,24.47,54.37,69.01,2.24,Sheraton Abu Dhabi Hotel & Resort
16,Ayagoz,0,KZ,1583978554,66,47.97,80.44,12.20,4.23,Ayagoz
17,Birjand,0,IR,1583978596,42,32.87,59.22,26.60,4.34,ITTIC Birjand Tourist Hotel
19,Xichang,0,CN,1583978716,49,27.90,102.26,48.58,7.87,Lushan Hotel
20,BÄ«jÄr,0,IR,1583978768,57,35.87,47.61,37.62,4.21,Hotel Bame Iran
21,Sisimiut,0,GL,1583978824,90,66.94,-53.67,-6.77,5.44,Hotel Sisimiut
22,ÃrÃ¼mqi,0,CN,1583978900,86,43.80,87.60,26.60,2.24,JinJiang International Hotel Urumqi
24,Sarkand,0,KZ,1583978967,58,45.41,79.92,27.18,1.19,ÐÐ¾ÑÑÐ¸Ð½Ð¸ÑÐ° Ð¡Ð°ÑÐºÐ°Ð½Ð´
25,Tabas,0,IR,1583978976,21,33.60,56.92,47.88,1.28,Amir hotel
27,Comodoro Rivadavia,0,AR,1583979044,35,-45.87,-67.50,69.80,9.17,Lucania Palazzo Hotel
29,Atar,0,MR,1583979082,8,20.52,-13.05,66.90,6.46,Odar kanawal

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Long"]]

In [13]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))